@charset "UTF-8";

.site-wrapper {
	margin: 35px 150px 0px 100px;
}

.jumbotron {
	text-align: center;
}

.slider-cont {
	margin-bottom: 10px;
}

#search-container {
	width: 30%;
}

#search {
/* 	max-width: 500px; */
/* 	display: inline-block; */
}

.mastfoot {
	margin-top: 50px;
}

.spinner {
	display: inline-block;
	opacity: 0;
	width: 0;

	-webkit-transition: opacity 0.25s, width 0.25s;
	-moz-transition: opacity 0.25s, width 0.25s;
	-o-transition: opacity 0.25s, width 0.25s;
	transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
	cursor:progress;
}

.has-spinner.active .spinner {
	opacity: 1;
	width: auto; /* This doesn't work, just fix for unknown width elements */
}

.has-spinner.btn-mini.active .spinner {
	width: 10px;
}

.has-spinner.btn-small.active .spinner {
	width: 13px;
}

.has-spinner.btn.active .spinner {
	width: 16px;
}

.has-spinner.btn-large.active .spinner {
	width: 19px;
}
